.player-card {
    border: 1px solid black;
    height: 114px;
    width: 300px;
    margin-top: 20px;

}

.card-wrapper {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
  .player-card {
    border: 1px solid white;
  }
  
}

.toggle {
  text-align: center;
  margin: 20px;
}

body {
  margin-left:50px;
  margin-right: 50px;
}
